
.toolbar-background-md {
    
    background-color: #87CEEB;
    background-repeat: repeat-x;
}


.Sibol{
   
    margin-bottom: 2%;
    margin-top: -13%;
    text-align: center;
}
.lists{
    margin-top: 0%;
}

.center{
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
}
